/* задаем цвет фона для контейнера nav. */
nav {
	margin-left: 1em;
	background-color: #E64A19;
	display: flex;
	flex-direction: column;
}
/* убираем отступы и поля, а также list-style для "ul",
		 * и добавляем "position:relative" */
nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	background: #3C388D;
}
/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
	margin: 0px -7px 0 0;
	display:inline-block;
	background: #3C388D;
	border: 1px solid #9FC53A;
}
/* стилизуем ссылки */
nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
/* изменяем цвет фона при наведении курсора */
nav a:hover {
	color: #000000;
		}

/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
nav ul ul {
	display: none;
	position: absolute;
	width: 110%;
	/*top: 0;*/
	/*left:100%*/
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
	display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
	width: 100%;
	float:none;
	display:list-item;
	position: relative;
	border: 1px solid #9FC53A;
	background: #9FC53A;

}