{% extends 'base.html' %}
{% load static %}


{% block block_for_css %}
        <link rel="stylesheet" href="{% static 'styles/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/css/menu.css' %}">
{% endblock %}

{% block content %}
    <nav>
        <ul>
            {% for type in item_types %}
                <li><a href="">{{ type }}</a>
                    <ul>
                        {% for category in type.categories.all %}
                            <li><a href="">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <nav>
			    <ul>
			        <li><a href="#">Home</a>
                        <ul>
			                <li><a href="#">Themes</a></li>
			                <li><a href="#">Plugins</a></li>
			                <li><a href="#">Tutorials</a></li>
			            </ul>
                    </li>
			        <li><a href="#">WordPress</a>
                        <ul>
			                <li><a href="#">Themes</a></li>
			                <li><a href="#">Plugins</a></li>
			                <li><a href="#">Tutorials</a></li>
			            </ul>
                    </li>
			        <li><a href="#">Graphic Design</a></li>
			        <li><a href="#">Inspiration</a></li>
			        <li><a href="#">Contact</a></li>
			        <li><a href="#">About</a></li>
			    </ul>
			</nav>

{% endblock %}